html,
body {
    font-family: Century Gothic, sans-serif;
    padding: 0;
    margin: 0;
    background: #111;
    text-transform: uppercase;
    color: #111;
    font-size: 5vh;
    font-weight: bold;
}
#main {
    margin: 0;
    padding: 0;
    padding-top: 5vh;
    height: auto;
    width: 100%;
}
#board {
    padding: 0;
    margin: auto;
    width: 54vh;
    height: 54vh;
}

.cell {
    padding: 0;
    margin: 0.5vh;
    height: 17vh;
    width: 17vh;
    line-height: 17vh;
    vertical-align: middle;
    text-align: center;
    font-size: 0;
    border-radius: 0px;
    background: #fff;
    cursor: pointer;
    float: left;
}
.button {
    margin: 0.5vh;
    padding: 0;
    height: 10vh;
    width: 53vh;
    line-height: 10vh;
    vertical-align: middle;
    background: #fff;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
    float: left;
    color:grey;
}
.cell {
    color: white;
    font-size: 75px;
    font-family: Century Gothic, sans-serif;
}
